<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'adminindex.html' %}
{% block body %}
<body>
	<form>
	<!--<table width="200" border="1">-->
  <!--<tbody>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="#">Department management</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="#">Course management</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="#">Staff management</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="#">Feedback questions management</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="#">Add available seats</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="#">View complaints</a></th>-->
    <!--</tr>-->
    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
      <!--&lt;!&ndash;<th scope="row"><a href="#">reply complaints</a></th>&ndash;&gt;-->
    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
    <!--<tr>-->
      <!--<th scope="row"><a href="#">Logout</a></th>-->
    <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->
</form>
      {% endblock %}
<!--</body>-->
<!--</html>-->
