<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
	<form>
	<table width="200" border="1">
  <tbody>
    <tr>
      <th scope="row"><a href="#">Manage student</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">Manage subjects</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">Subject allocation</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">View staff</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">View tutors list</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">Feedback score analysis</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">View attendance</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">View mark details</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">Logout</a></th>
    </tr>
  </tbody>
</table>
</form>
</body>
</html>
